
// Temporary classes just to make things clear
// in my "unstyled" test pages. This should be
// removed as soon as proper styling starts to
// be added to the site!
body {
	font-family: sans-serif;
	max-width: 700px;
}
.site-header {
	margin-bottom: 40px;
	border-bottom: solid 2px #ccc;
}
.site-footer {
	margin-top: 40px;
	border-top: solid 2px #ccc;
}
.form-success {
	color: green;
}
.form-error {
	color: red;
}
.beta-notice {
	background: #ccf3ff;
	padding: 5px 20px;
}
